
body {
    background: #f4f0ec !important
}

/*changes contact box background to white*/
#box {
    background-color: white;
    margin-top:  50px;
     
}

.txstyle {
    font-family: 'Times New Roman';
}

#text-change {
    font-family: 'Times New Roman';
} 
        
 #margin {
    padding-top: 0;
    padding-bottom: 0;
 }
 .hr {
    margin: 0;
    color: brown;
  } 