*
body{
background: #f4f0ec !important  
}

#margin {
    padding-top: 0;
    padding-bottom: 0;
 }

 #text-change {
    color: white;
    background-color:#20B2AA;
    padding: 10px;
    margin: 0;
    font-family: 'Times New Roman';
}
.hr {
    margin: 0;
    color: brown;
  }
img {

        height: 300px;
        width: 300px;
       
  }
.border {
    padding: 20px;
    margin: 20px;

}

img {
  background-color: #48D1CC;
}
#box {
    background-color: white;
}
.para {
    padding-top: 10px;
}