body {
    background: #ebd5b3 !important
  }
  
  img {
    height: 200px;
    width: 200px;
    margin: 20px 20px 20px 20px; 
  }
//*pads the top of the images**//
  #pad-top {
      padding-top: 20px;
  }
