body {
  background: #f4f0ec !important
}
 /*image size*/
img {
  height: 200px;
  width: 200px;
  margin: 20px 20px 20px 20px; 
}
/*pads the top of the images*/
#pad-top {
    padding-top: 20px;}

/*Changes container color*/
#box {
background-color: white;
}
/*changes Maria Khan text color, background and font style*/
#text-change {
color: white;
font-family: 'Times New Roman';
}
/*for hr and Name in navbar*/
#margin {
padding-top: 0;
padding-bottom: 0;
}
.hr {
  margin: 0;
  color: brown;
}
/*Adds some padding to Portfolio and gives it a text style*/
.text-lg-center {
  font-family: 'Times New Roman';
  padding-top: 5px;
  color:#20B2AA;

}


